<!-- user/info -->
<div>
  <h2>User info</h2>
    <%= image_tag user.get_profile_image(200, 200), class: "img-fluid rounded-circle" %>
    <hr>
    <h5><%= user.name %></h5>
    <hr>
    <p><strong>Introduction:</strong> <%= user.introduction %></p>
    
    <div class="row justify-content-center">
      <div class="col-12">
        <%# ユーザーのプロフィールページに応じてアイコンのリンク先を変更 %>
        <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary d-flex justify-content-center align-items-center" do %>
          <i class="fa-solid fa-user-gear"></i>
        <% end %> 
      </div>
    </div>
</div>